{
    "compact": false,
    "plugins": ["@babel/plugin-transform-runtime", "add-module-exports","@babel/plugin-transform-modules-commonjs"],
       "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": 3
        }
      ]
    ]
}